/*khushi's part*/
.navigation{
    display:flex;
    justify-content:space-between;
    background-color:rgb(124, 55, 24);
    border-radius:10px;
    }
    .navigation div{
        color:white;
        text-transform:uppercase;
        padding:15px;
        font-size:30px;
        }
    .navigation a{
        text-decoration:none;
        font-size:20px;
        color:white;
        padding-right:8px;
        text-transform:uppercase;
        }
        header{
            background-image:url("../images/banner.png");
            background-color:rgba(0,0,0,0.5);
            background-blend-mode:multiply;
            background-size:cover;
            }
            body{
                margin:0;
                padding:0px;
                font-family:"Roboto";
               
                }
                .divtext{
                    display:flex;
                color:white;
                padding-left:10px;
                padding-top:70px;
                font-size:30px;
                font-family:"Roboto";
                text-transform: uppercase;
                column-gap:10px;
                }
                .dtext{
                    padding-top:5px;
                    color:lightgray;
                    padding-left:6px;
                    font-size:20px; padding-bottom:100px;
                    }
    .image{
        padding-left:10px;
        padding-top:50px;
    }
    .image1{
        padding-top:5px;
        padding-left:150px;
    }
    .features{
    
        padding-top:20px ;
        display:flex;
        column-gap:20px;
        
        }
        .maintext{
            color:rgb(124, 55, 24);
            font-size:30px;
            padding-top:30px;
            padding-left:80px;

        }
    .box{
       
      border:2px solid gray;
      box-shadow: 0px 0px 0px gray;
      
      padding-top:0px;
      padding-left:0px;
      padding-right:0px;
      

      }
      .redarea2{
        
        background-color:rgb(244, 226, 226);
        margin:20px;
    }
        
    .bold{
        
        text-transform:uppercase;
        font-size:25px;
        text-align:center;
       
    }
    .text{
        color:black;
   padding-left:10px;
   padding-right:10px;
   padding-bottom: 10px ;
    padding-top:10px;
    font-size:12px;
    text-align: justify;
    }
    .image2{
        padding-top:5px;
        padding-left:130px;
    }
    .imggallery{
        width:100%;
        display:flex;
        column-gap:10px;
padding-left:10px;
        padding-right:10px;
        padding-top:20px;
        padding-bottom:5px;
    }
    .imggallery img{
        border-radius: 220px;
    }
   
    .rounded{
        border-radius: 100%;
    }
    .maintext1{
        color:rgb(124, 55, 24);
        font-size:40px;
        padding-left:400px;
        padding-top:10px;
        padding-right:400px;
    }
    .imagetext2{
        display:flex;
        padding-top:8px;
        padding-left:50px;
    }
    .bold1{
        color:black;
        padding-left:40px;
        padding-right:40px;
        font-size:30px;
        padding-top:20px;
     }
     .text5{
        color:gray;
        font-size:15px;
        padding-left:40px;
        padding-right:40px;
        padding-top:10px;
     }
     .imagetext1{
        display:flex;
        column-gap:60px;
     }
     .bold2{
        color:black;
        padding-left:60px;
        padding-right:10px;
        font-size:30px;
        padding-top:40px;
     }
     .text2{
        color:gray;
        font-size:15px;
        padding-left:60px;
        padding-right:10px;
        padding-top:10px;
     }
     .imagetext2{
        display:flex;
        padding-top:10px;
        padding-left:50px;
    }
    .bold3{
        color:black;
        padding-left:60px;
        padding-right:10px;
        font-size:30px;
        padding-top:40px;
     }
     .text3{
        color:gray;
        font-size:15px;
        padding-left:60px;
        padding-right:10px;
        padding-top:10px;
     }
     .boldtext{
        color:black;
        font-size:30px;
        padding-left:50px;
        padding-top:30px;
     }
     .divtext1{
        color:gray;
        font-size:20px;
        padding-left:50px;
        padding-top:15px;
        text-transform:capitalize;
     }
     
/*Aaron's code*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(124, 55, 24,20%);
}
.gal_display{
    color:rgb(182, 227, 212),
}
.gal_title{
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-align:left;
    font-size: 20px;
    background-color: yellow;
    background-image: linear-gradient(to right,rgb(124, 55, 24),rgb(209, 69, 4));
    padding-left: 20px;
    box-shadow: 0px 20px 20px grey;
}

#gal_txt{
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 2px;
    font-weight: 300;
    border-radius: 20px;
    background-color: rgb(124, 55, 24,0.7);
}
#gal_display_flex{
    display: flex;
    column-gap: 60px;
    padding-left: 160px;
    padding-bottom: 150px;
}
.divider1{
    display: flex;
    background-color: rgba(124, 55, 24,0.8);
    padding: 2px;
    box-shadow: 0px 5px 5px grey;
}
.disp img{
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(0,0,0,70%);
}
#swhats{
    display: flex;
    column-gap: 50px;
    padding-left: 20px;
    padding-top: 100px;
}
#swatsmain{
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(0,0,0,70%);
}
#swhats_txt{
    font-family: Georgia, Times, serif;
    font-size: 50px;
}
.imgs{
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(0,0,0,70%);
    
}
#main2 h3{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
}

#main2{
    margin-top: -40px;
}
#achieve_txt{
    padding-top: 20px;
}
#achieve_disp_flex{
    display: flex;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
}
.items1{
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    box-shadow: 0px 20px 20px grey;
    background-color: rgb(124, 55, 24,0.7);
}
.items2{
    margin-top: -200px;
    padding-left: 20px;
}
.items3{
    margin-top: -150px;
    border-radius: 20px;
}
.flex_item{
    font-weight: 200;
    font-size: 15px;

}
.flex_img{
    border-radius: 20px;
    padding-top: 40px;
}
.flex_img2{
    border-radius: 20px;
    padding-top: 40px;
}
.flex_img3{
    border-radius: 20px;
    padding-top: 40px;
}
.gal_title1{
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-align:left;
    font-size: 20px;
    background-color: yellow;
    background-image: linear-gradient(to right,rgb(124, 55, 24),rgb(209, 69, 4));
    padding-left: 20px;
    box-shadow: 0px 20px 20px grey;
}
.title_result{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.title_result:hover{
    color: white;
}
.result_txt{
    background-color: rgb(124, 55, 24,70%);
}
.result_txt:hover{
    background-color: rgb(124, 55, 24,100%);
}
.result_flex{
    display: flex;
    column-gap: 50px;
}
.result_1{
    padding-left: 260px;
    padding-right: 120px;
}
.result_1 img{
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgb(124, 55, 24,80%);
}
.result_2{
    padding-left: 100px;
}
.result_2 img{
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgb(124, 55, 24,80%);
}
#divider2{
    border-right: 2px;
    border-right: 1px solid white;
    margin-top: -20px;
}
.text_flex{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    padding-top: 20px;
}
/*jiya's code*/
.dtext{
    display:flex;
    
}
.txt1{
    font-size:40px;
    font-family:Roboto;
    padding-left:30px;
    padding-top:40px;
    color:rgb(180, 72, 23)
}
.txt2{
    text-align: justify;;
    font-size:18px;
    font-family:Roboto;
    padding-left:120px;
    padding-top:60px;
    color:rgb(180, 72, 23) ;
   

}
.imggallary{
    display:flex;
    padding-top: 30px; 
    padding-left:40px;
    column-gap:15px;
}

.img1{
    padding-top:30px;
    font-size:25px;
    font-family:Roboto;
    color:rgb(180, 72, 23)
   
}
.img2{
    padding-top:10px;
    font-size:15px;
    font-family:Roboto;
   
    
    
}
.imagetext{
    display:flex;
    padding-top:50px;

}
#unique_img1{
    padding-right: 20px;
    border-radius: 10px;
}
.d1text{
    font-size:27px;
    padding-top:40px;
    font-family:"Roboto";
    color:rgb(180, 72, 23);
}
.d2text{
    font-size: 20px;
   
    padding-left:10px;
   
    color:rgb(180, 72, 23);
    font-family:"Roboto"; 
    padding-top:15px;

}    
.d3text{
    font-size: 15px;
    
    padding-left:20px;
    color:black ; 
    font-family:"Roboto";
    padding-top:10px; 

}
.text1{
    color:rgb(180, 72, 23);
    font-family:"Roboto"; 
    font-size:40px;
    padding-left:10%;
    padding-top:30px;
 

}
.batch1{
    padding-top:15px;
    margin:0;
}
.redarea{
    background-color:rgb(244,226,226);
    height:120px;
}
.last {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
}
.left div {
    border-bottom: 0.5px solid gray;
}

.left {
    padding-right: 100px;
}

.right {
    padding-top: 100px;
    padding-left: 0px;
    background-color:rgb(185, 82, 34);
    height: 500px;
    margin-top: -50px;
    margin-left: 30px;
}

.right input {
    background-color: white;
    color: rgb(180, 72, 23);
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px gray;
    row-gap: 20px;
    padding-left: 30px;

}

.right p {
    padding-bottom: 20px;
}

.lastsubmit input {
   
    height: 50px;
    border-radius: 5px;
    font-size: large;
    font-family: "Poppins", sans-serif;
    background-color: rgb(180, 72, 23);
    color: white;

}

.lastsubmit input:hover {
    background-color: rgb(180, 72, 23);
    color: white;
}

.right textarea {
    height: 100px;
    width: 100%;
    border-radius: 5px;
}

.right section {
    background-color: white;
    margin-left: -80px;
    margin-top: -20px;
    height: 400px;

    padding: 20px 20px 20px 50px;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
}
.right p{
    width: 100%;
}

.copyright {
    background-color: rgb(180, 72, 23);
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    
}

.copy1 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 40px;
    line-height: 50px;
}

.copyright img {
    height: 50px;
    width: 50px;
}

.copy2 {
    display:flex;
   
    padding-left: 31%;
    padding-right: 25%;
    column-gap: 40px;
}
.copy2 img {
    width:90px;
}

.copyright div hr {
    width: 50%;
    border: 0.5px solid gray;
}

.copy3 {
    font-size: 15px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
}
.imggallary img{
    border-radius:20px;
}
.redarea1{
    background-color:rgb(244,226,226);
    height:210px;
}